<div class="header">
  <h1>
    Open Climbing Guide Sign up
    <small>It's free!</small>
  </h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
             :html => { :role => "form" }) do |f| %>
  <%= devise_error_messages! %>

  <input-group>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :placeholder => "Enter E-mail..." %>
  </input-group>

  <input-group>
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </input-group>

  <input-group>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </input-group>

  <div>
    <%= f.submit "Sign up", :class => "button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
