<p id="notice"><%= notice %></p>

<%= raw breadcrumbs_for_rock(@rock) %>

<div class="header">
  <h1><%= @rock.name %></h1>
</div>

<p>
<strong><%= t('.height') %>:</strong>
  <%= @rock.height %> m
</p>

<table class="tbl">
  <tr>
    <th><%= t('.rname') %></th>
    <th><%= t('.difficulty') %></th>
  </tr>
  <% @rock.routes.each do |route| %>
    <tr>
      <td><%= link_to route.name, route %></td>
      <td><%= route.difficulty %></td>
    </tr>
  <% end %>
</table>

<div class="btn-group">
  <%= link_to 'Edit this Rock', edit_rock_path(@rock), :class => "button" %>
</div>
