<%= raw breadcrumbs_for_route(@route) %>

<div class="header">
  <h1><%= @route.name %></h1>
</div>

<p>
  <strong><%= t('.difficulty') %>:</strong>
  <%= @route.difficulty %>
</p>

<p>
  <strong><%= t('.description') %>:</strong>
  <%= @route.description %>
</p>

<% @route.material.any? do %>
  <p>
    <strong><%= t('.material') %>:</strong>
    <% @route.material.each do |tag| %>
      <span class="tag"><%= tag.name %></span>
    <% end %>
  </p>
<% end %>

<div class="btn-group">
  <%= link_to t('edit'), edit_route_path(@route), :class => "button" %>
</div>
