<p id="notice"><%= notice %></p>

<%= raw breadcrumbs_for_route(@route) %>

<div class="header">
  <h1><%= @route.name %></h1>
</div>

<p>
  <strong>Difficulty:</strong>
  <%= @route.difficulty %>
</p>

<p>
  <strong>Description:</strong>
  <%= @route.description %>
</p>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', rock_path(@route.rock) %>
