<p id="notice"><%= notice %></p>

<%= raw breadcrumbs_for_route(@route) %>

<div class="header">
  <h1><%= @route.name %></h1>
</div>

<p>
  <strong>Difficulty:</strong>
  <%= @route.difficulty %>
</p>

<p>
  <strong>Description:</strong>
  <%= @route.description %>
</p>

<div class="btn-group">
  <%= link_to 'Edit', edit_route_path(@route), :class => "button" %>
</div>
