<p id="notice"><%= notice %></p>

<%= raw breadcrumbs_for_region(@region) %>

<div class="header">
  <h1><%= @region.name %></h1>
</div>

<% if !@region.child_regions.empty? %>
  <h2>Regions in <%= @region.name %></h2>
  <div class="list-group">
    <% @region.child_regions.each do |child_region| %>
      <%= link_to child_region.name, child_region, :class => "list-group-item" %>
    <% end %>
  </div>
<% end %>

<% if !@region.rocks.empty? %>
<h2>Rocks in <%= @region.name %></h2>
<div class="list-group">
  <% @region.rocks.each do |rock| %>
    <%= link_to rock.name, rock, :class => "list-group-item" %>
  <% end %>
</div>
<% end %>

<div class="btn-group">
  <%= link_to 'Add a Region', new_region_path, :class => "button" %>
  <%= link_to 'Edit this Region', edit_region_path(@region), :class => "button" %>
</div>
